{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="{% url 'chat_app:login' %}">Login</a>
                <a href="{% url 'chat_app:register' %}">Register</a>
                <div class="chat-box-parent">
                    <div class="chat-box">
                        <ul>
                            {% for chat in chats %}
                                <li><h3>{{ chat.user.username }}<span
                                        style="float: right;font-size: 12px;">{{ chat.date.date }}</span>
                                </h3></li>
                                <li style="float: right; font-size: 10px;">{{ chat.date.time }}</li>
                                <li>{{ chat.message }}</li>
                                <hr>
                            {% endfor %}
                        </ul>
                    </div>
                    <form class="form-horizontle" action="" method="post">
                        {% for field in form %}

                            {% csrf_token %}
                            <div class="form-group">
                                <div class="text">{{ field.errors }}</div>
                                {#                        <label class="text">{{ field.label }}</label>#}
                                <div>{{ field }}</div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success">Submit
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
{% endblock %}